.header {
    background-color: #2d2d2d;
    font-size: 30px;
    display: flex;
    height: 2em;
}

.panel {
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.panel::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.panel button {
    font-size: 40px;
    background: none;
    border: none;
    transition-duration: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
    text-align: center;
    min-width: 160px;
    width: 200px;
}

.panel button:hover {
    background: #363636;
    cursor: pointer;
    font-size: 43px;
}

.active-tab {
    text-decoration: underline;
}